[2020-08-26 19:06] digitalsadhu opened #1 "Website-Doors Broken"
**Severity**:
Medium (minor functional impact)

**Describe the bug**
The doors, both double and closed do not show in url.

**To Reproduce**
https://otfbm.io/_B2G2G4H4[H6G6G8$F9E10]C10B10B2_B6-G6

**Expected behavior**
Doors should work

[2020-08-26 19:47] digitalsadhu opened #2 "Custom token images"
**Is your feature request related to a problem? Please describe.**
Many people have requested we add the ability to specify custom token images. It's a very popular one.

**Describe the solution you'd like**
It should be possible to somehow provide token images what will be used in place of the vector tokens we current draw.
Token images of small size general do not display well so it may be best

[2020-08-27 15:19] lpduarte opened #3 "Making the grid more legible overall"
**Is your feature request related to a problem? Please describe.**
Sometimes it's hard to distinguish the grid lines from the background image, particularly if both share the same colour.

**Describe the solution you'd like**
Changing the way the grid interacts with the background by setting Difference as a compositing option on the grid's layer.

**Describe alternatives you've considered**
Using

[2020-08-28 14:07] lpduarte opened #4 "Increasing the outer border's thickness"
**Is your feature request related to a problem? Please describe.**
To visually help distinguish the board's edges from the rest of the grid.

**Describe the solution you'd like**
To increase the outer border's thickness to 2px instead of 1px. To the border shouldn't be applied the same compositing options as the grid. It should retain its normal compositing and 100% opacity. #f4f6ff for dark backg

[2020-08-28 15:58] lpduarte opened #5 "Grid lines not rendered properly"
**Severity**:
Low

**Describe the bug**
The grid and, particularly, its outer border are not being rendered properly. Seems like it's not aligning as it should and that it has some sort of reduced opacity applied. The effect is worsened by the image compression that's applied to the exported image, as some artefacts are created around those areas.

**To Reproduce**
Just load the map and notice its

[2020-08-28 16:27] lpduarte opened #6 "Dashed line on outer border"
**Is your feature request related to a problem? Please describe.**
To help visualize the board's edge when the background image is bigger than the viewport, and also understand where the map expands.

**Describe the solution you'd like**
The outer border should become dashed when it has more map beyond it, besides the dashed line that marks the limit of the background image. And if the image expan

[2020-08-28 16:38] lpduarte opened #7 "Improving the legend's legibility"
**Is your feature request related to a problem? Please describe.**
When the background image is larger than the map the legend ("5ft") becomes harder to read as it sits on top of of the overlay that darkens the image. It works well when there is no background image behind it but doesn't when there is.

**Describe the solution you'd like**
Change the legend's colour to the same as the letters and n

[2020-08-29 07:55] digitalsadhu commented on #2
# Summary of Proposed approaches

## Approach 1.

Build a portal to upload background images and tokens. Get an account id and feed that to otfbm to take advantage of uploaded content

### Example:

[code]

* swamp - name used to save bg in account
* id - account id

## Approach 2.

Define a text based config file in some format (json, tank, custom, whatever?) upload it to somewhere accessible onl

[2020-08-29 09:27] RCarretta commented on #2
Thoughts/pros/cons:

Pro - very easy to set up the authentication bits. we can use cognito and dont need to worry about handling usernames/etc
Pro - can tie this into social login very easily
Con - need to build the web portal
Con - will carry some additional maintenance cost for authentication/database/etc

This approach makes sense to me if the entire state of the map can be imported/exported as

[2020-08-29 09:28] RCarretta commented on #2
After some discussion, have decided we will pursue a phase 1 of Approach 4 followed by a phase 2 of Approach 1.

[2020-08-31 09:09] digitalsadhu opened #8 "Docs Updates"
**Describe the bug**

Docs are now out of date and need the following added:

## Tokens

- Creating a shortcode by sending a request to `https://token.otfbm.io/meta/<base64 of full URL>`
- Passing shortcodes to a token segment `/d3-Urzer~<shortcode>`

## Change to door definition format when drawing walls

- `-d` door
- `-b` double door
- `-s` secret door
- `-o` open door

E.g.
http://localhost:40

[2020-08-31 09:11] digitalsadhu commented on #2
Landed a phase 1 implementation in https://github.com/otfbm/maps/pull/14 and https://github.com/otfbm/maps/pull/15

[2020-08-31 09:11] digitalsadhu commented on #2
Needs documentation #8

[2020-09-01 14:33] lpduarte commented on #3
Done.

[2020-09-01 14:33] lpduarte commented on #4
Done.

[2020-09-01 14:33] lpduarte commented on #5
Done.

[2020-09-01 14:34] lpduarte commented on #6
Done.

[2020-09-01 14:34] lpduarte commented on #7
Done.

[2020-09-01 18:29] #1 closed, assigned to digitalsadhu, mjs1

[2020-09-01 18:29] #3 closed, assigned to digitalsadhu, mjs1

[2020-09-01 18:29] #4 closed, assigned to digitalsadhu, mjs1

[2020-09-01 18:29] #5 closed, assigned to digitalsadhu, mjs1

[2020-09-01 18:29] #6 closed, assigned to digitalsadhu, mjs1

[2020-09-01 18:29] #7 closed, assigned to digitalsadhu, mjs1

[2020-09-01 18:32] digitalsadhu opened #9 "Fog of War"
**Is your feature request related to a problem? Please describe.**
Add a way to hide areas of the map until the DM is ready to reveal them

**Describe the solution you'd like**
The map starts with an opaque black layer overtop of everything and URL segments are used to reveal areas using coords

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-09-01 18:35] digitalsadhu opened #10 "Token Status Conditions"
**Is your feature request related to a problem? Please describe.**
Add a way to be able to show status conditioned such as poisoned, incapacitated, grappled etc

**Describe the solution you'd like**
A small symbol could be placed on the token that indicates the condition. This could be specified in the URL with a flag on the token much like size. Challenges exist in making symbols understandable f

[2020-09-01 18:38] digitalsadhu opened #11 "Improve image error responses"
**Is your feature request related to a problem? Please describe.**
Add additional error image responses with text indicating what went wrong

**Describe the solution you'd like**
I imagine handling errors in try/catch blocks and creating a sanitised error message that indicates generally where the user went wrong. That error message would then be drawn on an error image page like the one that we c

[2020-09-01 18:40] digitalsadhu opened #12 "Background repeat"
**Is your feature request related to a problem? Please describe.**
Add a way to specify a background image and have it repeat. Good for tiling.

**Describe the solution you'd like**
Add a flag of some kind to indicate that the background should repeat. Repeat the image on both the X and the Y

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-09-01 18:43] digitalsadhu opened #13 "Token height indicator"
**Is your feature request related to a problem? Please describe.**
Add a way to show on the token, how high off the ground the token is (in ft)

**Describe the solution you'd like**
A flag in a token segment could be used to specify the height. Then perhaps a small bubble indicating the height number could be placed on the token. The usual challenges of small token sizes exist.

**Describe alterna

[2020-09-01 18:47] digitalsadhu opened #14 "Tokens occupying the same space"
**Is your feature request related to a problem? Please describe.**
We need a way to show that there are multiple tokens on the same grid square

**Describe the solution you'd like**
Cases I can think of

* tiny tokens side by side in the same square
* a tiny token on top of a medium token (a gnome riding on a dwarfs shoulders anyone?)
* 2 or more medium tokens in the same square (perhaps someone d

[2020-09-01 18:49] digitalsadhu opened #15 "Make is possible to place a square token instead of a circle"
**Is your feature request related to a problem? Please describe.**
As the title says... do we want/need this? Why?

**Describe the solution you'd like**
Draw a square token

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-09-01 18:52] digitalsadhu opened #16 "Token numbers"
**Is your feature request related to a problem? Please describe.**
When a token label is in a sequence, we could strip the sequence number from the label and display a little number. This would work especially well for tokens with image backgrounds

**Describe the solution you'd like**
For tokens in a sequence such as `/a1-orc1/a2-orc2/a3-orc3`, strip the 1,2,3 from the token label and display tho

[2020-09-02 07:40] #11 closed, assigned to digitalsadhu, mjs1

[2020-09-02 12:08] lpduarte commented on #9
Instead of doing a black/ white out of what needs to be hidden, because that's boring, I propose blurring it. Is it doable?

![otfbm-fog-test-1](https://user-images.githubusercontent.com/16154620/91979204-52f76180-ed1d-11ea-9f00-65293d0b4158.jpg)

[2020-09-02 15:30] lpduarte opened #17 "Dashed circle on the move's origin"
**Is your feature request related to a problem? Please describe.**
The move action, visually represented by an overlaying arrow, could be improved with another graphic element as an anchoring point.

**Describe the solution you'd like**
Showing a dashed circle on the spot where the token was before moving. Both the arrow and the circle should be 2px, the circle's dashes with a 5/5px dash to gap ra

[2020-09-02 17:02] digitalsadhu commented on #9
That is pretty nice. Would look a lot better than black. Does hint quite a lot though. Might not be universally loved.

[2020-09-02 20:07] lpduarte opened #18 "Overlays: how they appear outside the map"
**Is your feature request related to a problem? Please describe.**
The way overlays appear outside the map.

**Describe the solution you'd like**
The map should work as a mask and not show any overlay beyond its edges, only if there's more map beyond it.

**Describe alternatives you've considered**
NA.

**Additional context**
![otfbm-overlay-test-3](https://user-images.githubusercontent.com/161546

[2020-09-02 20:20] lpduarte commented on #9
Regarding hinting, you're right. Not sure if the compositing options allow it but if they do, the pixel radius can be raised, revealing less details behind it (see below).

![otfbm-fog-test-2](https://user-images.githubusercontent.com/16154620/92032336-e783b300-ed61-11ea-8d2f-b3f19801afc5.jpg)

[2020-09-03 00:09] lpduarte commented on #14
Here's what I've got, in case the tokens have images. It's a bit hard to read but I think it's the best we can do. Still figuring out how to solve it if the tokens don't have images.

![otfbm-token-same_space-test-1](https://user-images.githubusercontent.com/16154620/92049244-c468fb80-ed81-11ea-8c42-836ec1fc5b05.jpg)

[2020-09-03 00:31] lpduarte commented on #13
Using the corners to illustrate whether the combatant is above or bellow. Adding the height value overloads the token. I think it's enough to show this and have the player check the initiative order list to find out exactly how high the combatant is. We will probably need a legend on the documentation site. Shouldn't be too hard to do though.

![otfbm-height-test-1](https://user-images.githubuserc

[2020-09-03 00:42] lpduarte commented on #10
Like height, would use another corner to illustrate that the combatant has a condition. Yellow with the dark stripes gives it a warning look. Another symbol to add to the new legend.

![otfbm-conditions-test-1](https://user-images.githubusercontent.com/16154620/92056412-8c17ec00-ed86-11ea-96d2-881986f0bf0d.jpg)

[2020-09-03 00:43] lpduarte commented on #15
Using corners for the extra info we need to add to the tokens, so I'd vote `no` for this.

[2020-09-03 04:12] mjs1 commented on #9
Canvas doesn't do blur, we'd have to find some other image processor to do it

[2020-09-03 04:25] mjs1 commented on #13
what the arrows relative to, ground level? how would multiple elevations work for flying 30', 45', 60' etc
if there is space and it's not interfering with other text wouldn't we want to have `30'` on the icon somewhere?

[2020-09-03 04:31] mjs1 commented on #15
I think who ever asked for this wants to use tokens for displaying something other than PC/NPCs.
Should find out what they're actually wanting to do.

[2020-09-03 04:39] mjs1 commented on #14
looks good to me, I can't really think of an alternative...

[2020-09-03 04:40] mjs1 commented on #10
we could put a symbol key somewhere (maybe bottom left?) with only the symbols present on the map

[2020-09-03 04:49] mjs1 commented on #18
Setting the `e` option "Disable border opacity" will stop this from
happening.

I would have thought with transparency this information is useful? Any
tokens placed in the border will show up in the same way currently too.

On Thu, 3 Sep 2020 at 08:07, Luis Pedro Duarte <notifications@github.com>
wrote:

[2020-09-03 04:52] mjs1 commented on #17
Looks cool, the circle would have to take a size param m, l, h etc.

[2020-09-03 05:21] digitalsadhu commented on #15
Yea. I’m going to close this.

[2020-09-03 05:21] #15 closed, assigned to digitalsadhu, mjs1

[2020-09-03 05:28] digitalsadhu commented on #13
Could you use colors to indicate flying vs underground vs elevated ground?

[2020-09-03 05:29] Croebh commented on #8
Arrow overlays are missing

[2020-09-03 07:59] lpduarte commented on #13
@mjs1 yes, the reference would always be ground level to keep things simple, we'd have to mention that in our rules. Having the token display the height's value seems impossible to read. It sure wouldn't fit inside the corner triangle and still be readable. Besides if we're also putting the generated name on the bottom right corner (not yet designed), and if the same char had a condition, it would

[2020-09-03 08:00] lpduarte commented on #9
No it's a no or something that can be done?

[2020-09-03 08:03] lpduarte commented on #10
We could and I've tried doing a mockup but it doesn't read too well. Still figuring out. And that key is becoming ever longer. Won't be able to display it all if the map is small.

[2020-09-03 08:07] lpduarte commented on #16
@digitalsadhu read you comment on the server. Was wondering situations where that would happen, different monsters with similar generated names. What about a DM that names his monsters? We'll have to use the whole name or, at least, its first 3 characters?

[2020-09-03 09:47] digitalsadhu commented on #16
So I’m thinking down the line here a bit where we might assume that if we see a token named orc1. We use our orc image for the token. For this to work we’d already be forcing the DM to name things in a certain way so we’d also know that the rest of the label (1,2,3) are not part of the monster name. There are various ways this could end up being defined, the user might have control of it by being

[2020-09-03 10:05] lpduarte commented on #16
The `!init` command recognises the creature's name and atributes it its specific stats, right? So, not completely knowing how this works under the hood, is `!map` able to read from `!init` to gather that specific info? Like, if the user adds a token called GO1, for example, the `!map` would cross that info with the `!init` and gather the appropriate token image and name. Probably none of this is p

[2020-09-03 10:15] lpduarte commented on #18
I see what you're saying with `-mapoptions e` but what I want is for the top left overlay to never appear outside the map's border even if `-mapoptions e` isn't used.

[2020-09-04 04:01] Ydomat commented on #8
need to add color pink as well

[2020-09-04 04:36] Ydomat commented on #8
https://github.com/otfbm/docs/commit/f2f10f900bb7e31fa1273747c4fed8fba4509775

Added color Pink
Added verbiage for token images
Added border ppacity
Added map pan features
Updated grid transparency
Removed image size requirement
Added arrow overlay

[2020-09-06 21:34] Croebh opened #19 "Croebh's Checklist for Alias Stuff"
This is a list of the features I'm currently planning on implementing to `!map`, in no specific order. This list is far from exhaustive.

 - [x] Replace `spellbook` tags with arg requirements
 - Before - `Abi-Dalzim’s Horrid Wilting - squaretop,30,00C177,{aim}`
 - After  - `Abi-Dalzim’s Horrid Wilting - Requires -aim` (Not final)
 - [x] Add `maplist` tags with what it contains
 - Before - `Forest`

[2020-09-06 21:42] Croebh commented on #17
I think this would be *fantastic*

[2020-09-06 21:52] Croebh commented on #9
Its possible we can handle this via the pillar objects/tokens
such as
`https://otfbm.io/10x10/h1j5$p/`
![image](https://user-images.githubusercontent.com/5848891/92335937-f2d42880-f058-11ea-80d3-7b521c8299f0.png)

[2020-09-06 21:56] digitalsadhu commented on #17
We could just add this to the token segment. The image above would be: `h6-f4mg-Wizard`

[2020-09-06 21:57] lpduarte commented on #9
That makes sense. My only issue here is making this blur. Worried it may not be possible. Might make sense to bring @RCarretta into this as he's one to enjoy these types of challenges.

[2020-09-06 22:01] digitalsadhu commented on #9
Canvas can't do the blur at all so this would be tricky. You could image process first, drop it onto canvas and then draw the bits you can see overtop... Not ideal.

[2020-09-06 22:02] digitalsadhu commented on #9
I suppose we could always create a blurred version of the image when we do bg caching

[2020-09-06 22:10] lpduarte commented on #9
Automatically creating a blur sounds like a good approach. Regarding caching 2 images I've checked and a blurred image weight way less than the normal one. 10/70kb. And would it be possible to set this to be in the forward most layer, covering what's behind, such as other objects or even tokens?

[2020-09-07 03:29] JamesHurburgh opened #20 "List of token codes stored with user variables"
**Is your feature request related to a problem? Please describe.**
I need to keep a list of my PC's and NPC's token codes to paste into discord whenever I setup a new combat.

**Describe the solution you'd like**
Whenever someone joins initiative I want it to be able to look up from a list of stored tokens and assign one automatically if the name matches.

**Describe alternatives you've considered

[2020-09-07 03:40] rougegoat opened #21 "Common Token Reference Page"
**Is your feature request related to a problem? Please describe.**
A common reference page for token images similar to !map -spellbook to help look up common enemy types like goblins, skeletons, ghouls, etc.

**Describe the solution you'd like**
Similar to !map -spellbook, you could bring up a pre-generated list of approved loaded common enemies.  Ideal commands for this would be !map -tokenlist,

[2020-09-07 07:30] digitalsadhu commented on #9
I think maybe yea and clipping out the areas you want to show might work

[2020-09-07 13:05] nerdsanddragons commented on #19
-savemap should probably be the command that saves everything. mapbg, mapsize, mapoptions, walls and objects, into a variable like {mapLayer}

[2020-09-08 11:16] digitalsadhu opened #22 "Read external setup definition files"
**Is your feature request related to a problem? Please describe.**\
Being able to predefine map setups for the wider community would be great.

**Describe the solution you'd like**
Predefining and publishing configuration files and loading preloading them would allow short codes to be generated that can be fed into the app in the same way we do with tokens. Config files could also be used to speci

[2020-09-08 12:57] nerdsanddragons commented on #19
- [ ] Add 'F' in map options for alternative font.

[2020-09-08 12:58] Croebh commented on #19
You can check that one off :p i did it quickly

[2020-09-08 23:43] lpduarte opened #23 "Overlays: renaming -over line"
**Is your feature request related to a problem? Please describe.**
This is both an issue for the map service and the alias. Currently adapting Rouge's Overlays Guide and I think the `-over line` command is a bit misleading. Since we've got walls and arrows, that are truly lines, the `-over line` command actually draws a quadrilateral shape, a rectangle in fact, well, sometimes a square, but there'

[2020-09-09 02:37] mjs1 commented on #23
the line overlay was made to represent spells like lightning bolt, which is 5ft wide: https://www.dndbeyond.com/spells/lightning-bolt

[2020-09-09 09:02] lpduarte commented on #23
It does say line in the spell. But when you allow the user to set both the width and the length he'll probably use it for more than just 5ft lines, making the name misleading. I'm looking at this from a UX PoV and I see 2 possible solutions:
1. create a new command to only allow `<length>`,`<start>`, and `<end>`, and it's locked at 5ft wide, called `line`, and changing the current command's name t

[2020-09-09 09:03] lpduarte commented on #18
Closed. Nice one.

[2020-09-09 21:14] #18 closed, assigned to digitalsadhu, mjs1

[2020-09-09 22:20] lpduarte commented on #16
![otfbm-token-test-3](https://user-images.githubusercontent.com/16154620/92660757-f8e53600-f2f2-11ea-91ae-96709ffd1483.jpg)

[2020-09-09 23:51] Croebh commented on #19
- [ ] Possibly add support for `!map A3`, which would function the same as `!move A3`, removing the need for a second alias?

[2020-09-10 00:23] nerdsanddragons commented on #19
I completely agree with the idea. Bring everything back under the main alias

[2020-09-10 12:48] Qarlynd commented on #16
First letters + number seems neat

[2020-09-11 02:30] nerdsanddragons commented on #19
- [ ] Add the ability to easily move overlays
• Maybe something like !map -t <target> -overaim <location> Or -overtarg <targ>

[2020-09-12 17:55] lpduarte commented on #9
Trying out something that's a hybrid between blurring and having a black overlay, that has a closer feeling to a traditional FoW but with crystal like shapes shattering to reveal more map, emulating the sharp edges of our typeface.

![otfbm-fog-test-3](https://user-images.githubusercontent.com/16154620/93001720-10a5ff80-f529-11ea-868b-92fed2717e50.jpg)

[2020-09-14 16:56] williamtstanley opened #24 "Wall color"
**Is your feature request related to a problem? Please describe.**
With dark backgrounds it can be hard to see the walls

**Describe the solution you'd like**
A command to change the wall color to a hex code or similar would be great. `!map -wallcolor #FFFFFF`
![Screen Shot 2020-09-14 at 9 55 12 AM](https://user-images.githubusercontent.com/12862939/93115327-8ec0ee00-f670-11ea-972b-782ba7385867.pn

[2020-09-14 19:02] nerdsanddragons commented on #19
You can check off a couple of those items up there on your list croebh after you merge my PR I sent you.

Couple ideas/to do’s I’m thinking about..

- [x] Add the ability to save current map state with all combatant notes so it can be called up later.
• Maybe -savebattle will save and -loadbattle to call it
•Maybe have the save also save all the -mapattach info as well so -loadbattle loads everyth

[2020-09-16 19:05] williamtstanley opened #25 "Loading initial map from otfbm url"
**Is your feature request related to a problem? Please describe.**
As a user I would  like to be able to load a pre-configured map from a otfbm url

**Describe the solution you'd like**
`!map -loadurl https://otfbm.io/20x15/_D3-oK3-dN7-bN13-sD13-oD11-dD7D3_F6J6-dJ9F9F6`

[2020-09-17 18:38] digitalsadhu commented on #25
I’m super into this. Being able to set up the map in a browser tab and then just import the url would be handy for me.

[2020-09-17 19:01] williamtstanley commented on #25
Ya my plan was to use the tool I made to generate maps quickly and then just save them to load into discord as needed

[2020-09-18 11:49] nerdsanddragons commented on #25
Started working on this feature in the alias and just need to refine it. Currently I have it reading the url and adjusting the map size and applying the walls that were created. If we are wanting to also import additional things then getting that to work is going to take a while.

[2020-09-18 15:36] williamtstanley commented on #25
I think at least for my use adding walls is enough. I could see an argument for objects though. Not sure how Tokens would work with the init system so I would probably say skip those.

[2020-09-18 15:57] nerdsanddragons commented on #25
Objects shouldn't be hard but combatants I'm incorporating in a new feature -savebattle and -loadbattle. So if someone sets up the actual map- mapbg, mapsize, mapoptions, walls and objects I can make that work.

[2020-09-20 18:26] #22 closed, assigned to digitalsadhu, mjs1

[2020-09-21 02:20] BardicPerspiration opened #26 "Minor -height error"
**Severity**:
Low

**Describe the bug**
Using "-height 0" when the target's height is already 0 results in an error.

**To Reproduce**
1. Use "-height 0" with a target with height 0.

**Expected behavior**
Repeating a height command for a value other than 0 just outputs normally.

[2020-09-21 02:27] Croebh commented on #26
Should be fixed now, thanks for the bug report.

[2020-09-21 08:06] #26 closed, assigned to Croebh, nerdsanddragons

[2020-09-21 08:07] Croebh commented on #23
Think I'll opt for keeping it as it is for now, may revisit this in the future.

[2020-09-21 08:07] #23 closed, assigned to digitalsadhu, mjs1, Croebh, nerdsanddragons

[2020-09-21 08:08] Croebh commented on #20
This is coming to a `!map` alias near you, very soon!

[2020-09-21 08:08] #20 closed, assigned to Croebh, nerdsanddragons

[2020-09-21 09:52] BardicPerspiration commented on #19
Suggestion: add shortened forms of all commands beginning with -map, e.g. -attach, -size, -view, -options.

[2020-09-21 13:22] BardicPerspiration opened #27 "Add shortened forms of all commands beginning with -map, e.g. -attach, -size, -view, -options, -bg, etc."
Suggestion: Add shortened forms of all commands beginning with -map, e.g. -attach, -size, -view, -options, -bg, etc.

I can't read or type the word "map" anymore.

[2020-09-21 15:10] Croebh commented on #27
Biggest issue is `-size`, which is already used for setting the size of a token

[2020-09-21 15:26] Croebh commented on #27
I added `-options`, `-attach`, `-view`, `-bg` in the new build (coming out soon)

[2020-09-21 16:36] BardicPerspiration commented on #27
Sounds good, thanks!

[2020-09-21 17:48] #27 closed, assigned to Croebh, nerdsanddragons

[2020-09-23 21:50] digitalsadhu commented on #25
Do we still need this now that we have a way to load map state from a config file?
See http://docs.otfbm.com/#/predefined-maps-and-tokens

[2020-09-23 21:51] digitalsadhu commented on #24
@mjs1 has begun work on this

[2020-09-23 21:52] digitalsadhu commented on #16
Stage 1 of this is out, more work to come to refine and improve.

[2020-09-23 21:53] williamtstanley commented on #25
My main use case was to use it in tandem with the draw tool. I could update that to output/save json instead. 🤔

[2020-09-23 21:53] digitalsadhu opened #28 "Rename `board` to `view` internally"
**Severity**:
Not severe. Internal refactor only

**Describe the bug**
The use of the word `board` does not line up with naming as used elsewhere. Suggest renaming `board` to `view` internally.

[2020-09-25 07:56] digitalsadhu commented on #28
Fixed in https://github.com/otfbm/maps/pull/37

[2020-09-25 07:56] #28 closed, assigned to digitalsadhu, mjs1

[2020-09-25 07:57] digitalsadhu commented on #24
Done in https://github.com/otfbm/maps/pull/37
Use `-c` to specify colors eg. `https://otfbm.io/_-crB2G2G4H4-dH6G6G8-sF9E10-bC10B10B2_-cbB6-oG6`

[2020-09-25 07:57] #24 closed, assigned to digitalsadhu, mjs1

[2020-09-25 08:04] digitalsadhu commented on #8
@Ydomat I've updated checklists and added 1 new.

[2020-09-26 04:55] nerdsanddragons commented on #21
Feature !map tokenlist was added

[2020-09-26 04:55] #21 closed, assigned to Croebh, nerdsanddragons

[2020-09-27 00:05] lpduarte opened #29 "Distance: visual changes"
**Is your feature request related to a problem? Please describe.**
Giving `-distance` that extra oompf.

**Describe the solution you'd like**
- [ ] Making the arrow start on the outer limits of the origin (grid line), instead of inside it. And end the same way. This will avoid being on top of whatever's inside. Currently it's ending with the arrow just touching the token. If that token has a tag o

[2020-10-01 07:22] digitalsadhu opened #30 "Add tracking query parameters to URL"
**Is your feature request related to a problem? Please describe.**
I would like to be able to generate metrics about whether a request is coming from the alias vs direct URL input. I would also like to be able to generate metrics about requests that come from the testing alias vs that which is used in production by the general ppl.

**Describe the solution you'd like**

2 things:

1. Add `&d=1` wh

[2020-10-01 07:35] Croebh commented on #30
Donezo

https://github.com/Croebh/Avrae-Customizations/commit/a1838eecf8952b64d89c84ede26b3083a8f00f73

[2020-10-01 07:35] #30 closed, assigned to Croebh, nerdsanddragons

[2020-10-01 07:40] digitalsadhu commented on #30
Note to self: ;)

`?a=1&cid={ctx.channel.id}&sid={ctx.guild.id}&uid={ctx.author.id}{"&d=1" if testVersion else ""}
a, cid, sid, uid, d`

[2020-10-01 13:53] lpduarte opened #31 "Changes to !map help dm"
Adding z to the command as, according to Blob, zoom needs a "z" before the number now. Also changed the text to better explain what happens when the command is run.

[code]

And further down that help page:

[code]

[2020-10-01 14:17] mrrobinhood5 opened #32 "Svar integration"
Can we add a check for an svar named backgrounds and if none found, move to uvar. This will allow server wide maps for everyone to use like arena or markets

[2020-10-01 17:33] lpduarte commented on #31
Edited the second line so that it doesn't mention z having to be set first.

[2020-10-02 15:08] RadZombie commented on #9
If using the pillar objects/token tools for this, is there a way to make the layer extend all the way to the edge of the square? Otherwise if you use this for each room in a dungeon or building, the shape of the "fog" gives away the room layout. @Croebh

[2020-10-02 15:45] digitalsadhu commented on #9
This won’t use the existing overlays. It’s a new thing that will work by
making everything as blacked out and allowing the user to specify the areas
that are not blacked out

On Fri, 2 Oct 2020 at 5:09 PM, Dan Regan <notifications@github.com> wrote:

[2020-10-02 16:33] RadZombie commented on #9
@digitalsadhu the way you describe this feature request, 100% I want this to happen! But until this feature request is accepted, I was speaking more to @Croebh 's suggestion of alternatively using the pillar function in the meantime.

[2020-10-02 17:09] lpduarte commented on #9
Updating this thread include to the latest fog version, discussed with Blob on the server:

![otfbm-fog-test-4](https://user-images.githubusercontent.com/16154620/94949909-a35b0e00-04d9-11eb-9840-b5c0370faaaa.jpg)

[2020-10-03 23:31] nerdsanddragons commented on #32
Done. !map help manage will show you documentation

[2020-10-03 23:31] #32 closed, assigned to Croebh, nerdsanddragons

[2020-10-06 22:07] nerdsanddragons commented on #25
We decided to pursue -json feature in the alias instead of -loadurl so closing out this pr.

[2020-10-06 22:07] #25 closed, assigned to Croebh, nerdsanddragons

[2020-10-08 18:43] BenDawes commented on #14
Started on this here: https://github.com/otfbm/maps/pull/40

[2020-10-09 13:14] RobbeA-1952396 opened #33 "Ring overlay"
**Ring overlay feature request**
Option to add a ring overlay with an inner and outer radius, color, and center/top left corner.
Usefull when making maps with overlays and you want a moat or for example with the spell "wall of fire"

**Describe the solution you'd like**
`-over ring,<innerRadius>,<outerRadius>,<color>,<center/topleft>`

**Altneratives**
For the wall of fire: no alternative that I a

[2020-10-09 22:22] MommaGunn opened #34 "No way to turn off face recognition when uploading token images"
**Severity**:
Low (formatting issues, things that don't impact operation)

**Describe the bug**
When uploading token images via url through the `!map -tokenimport <url>` alias, the end result is cropped by facial recognition software with no option to keep the full sized image.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a discord server loaded with the Avrae bot.
2. Run alias: `!m

[2020-10-10 06:26] digitalsadhu commented on #34
Great issue thanks @MommaGunn !

[2020-10-10 12:01] digitalsadhu commented on #34
@MommaGunn
Fixed in otfbm/maps#41

[2020-10-10 12:01] #34 closed, assigned to digitalsadhu, mjs1

[2020-10-12 17:24] Ydomat commented on #8
I'll do these updates this by friday. busy week.

[2020-10-12 18:54] rougegoat opened #35 "Remove legacy -attach command from Getting Started example"
**Describe the bug**
When the "Getting Started" guide was initially written up, you still had to anchor the map manually to a combatant.  Now that `!map` will auto-attach to combatants named DM, Map, or Lair, I don't think it needs to be used in the beginner focused guide.

**To Reproduce**
Documentation change.  End of Getting Started -> Section 2.

**Expected behavior**
Rephrase to something lik

[2020-10-12 18:57] Ydomat commented on #35
Thanks! ill do this in my commit this week!

[2020-10-18 07:58] BardicPerspiration opened #36 "Allow caps in -savemap names"
Feature Request: Allow capital letters in map names created using -savemap while still having -loadmap be case-insensitive.

Why should this be added?: Because it's prettier. :P

[2020-10-23 21:15] rougegoat opened #37 "Visual Indicator for Concentration, Certain Spell Effects"
**Is your feature request related to a problem? Please describe.**
A combatant that is concentrating looks identical to one that is not.  A visual indicator could help players quickly determine which of the five near identical opponents is the one that is concentrating on the spell.

Some spells have visual indicators like Faerie Fire's 10 foot radius of light.  This information is frequently stor

[2020-10-26 00:41] RadZombie opened #38 "token "formations"/support for token placement based on custom point of origin"
**Is your feature request related to a problem? Please describe.**
It's often that parties will move their party in a specific formation. Because the starting location of the party on a map is always different, you can't reuse a bulk `!move` command because coordinates of each PC's token placement will be different. For example, if the party is traveling north and they want their formation to look

[2020-11-04 18:35] storytellermahkasad opened #39 "Map help View gives Error"
**Severity**:
Low

**Describe the bug**
Calling `!map help view` gives an Avrae error instead of just displaying the base help.

**To Reproduce**
Steps to reproduce the behavior:
1. Type command `!map help view`
2. See error

**Expected behavior**
Should show the default help, or perhaps DM help. Not error.

**Screenshots**
https://cdn.discordapp.com/attachments/712795723623694376/7736160572474655

[2020-11-04 19:41] Croebh commented on #39
Fixed, though `view` doesn't have a specific help command :p

[2020-11-04 19:41] #39 closed, assigned to Croebh, nerdsanddragons

[2020-11-04 21:25] mjs1 commented on #29
how do you want it to look when they only move 1 square?

[2020-11-04 22:46] lpduarte commented on #29
Like this, with the label on top of the destination coordinate.

![otfbm-distance-test-3](https://user-images.githubusercontent.com/16154620/98175926-6d051a00-1eef-11eb-8db6-a3e4d2c65b6d.jpg)

[2020-11-04 22:47] lpduarte commented on #29
Come to think of it, perhaps the distance can always be placed on the destination coordinate. Not just for adjacent squares.

[2020-11-29 03:04] Ydomat commented on #8
https://github.com/otfbm/docs/commit/5cff81a93503b0585f4b5fee720aa95e6b93620f

Updated Sidebar for "Alias" Guides
Added facial recognition on token
Added labels for tokens with images
added wall and door colors.

[2020-11-29 03:05] Ydomat commented on #8
Assuming these changes look good. let's close this issue and open a new one so new updates have a clean slate.

[2020-11-29 03:56] Ydomat opened #40 "Marketing site design."
Marketing site Design info:

* Colors to work with from LP?
* Mockup in Figma/?
* Collect Examples to include

[2020-11-29 03:58] Ydomat commented on #40
Possibly add a label for site / marketing site?

[2020-12-02 22:18] rougegoat opened #41 "Tokens Documentation Needs Escape Character Added"
**Describe the bug**
Tilda flags are not fully escaped in the Tokens documentation.
http://docs.otfbm.com/#/tokens

**To Reproduce**
Near the bottom in the example for disabling facial recognition, the example reads:

* with facial recognition /a2-satyr\~wcqj3/
* without facial recognition /a2-satyr~wcqj3~/

**Expected behavior**
It should read:

* with facial recognition /a2-satyr\~wcqj3/
* witho

[2020-12-05 17:54] RobbeA-1952396 opened #42 "Extra token sizes"
**Is your feature request related to a problem? Please describe.**
A numeric options for token sizes like there is already tiny/small/medium/...

**Describe the solution you'd like**
alongside of `-size T|S|M|L|H|G` also allow for something like `-size 25` to have a 25x25 token.

**Describe alternatives you've considered**
Using a circleoverlay but this does not support `-token`

**Additional cont

[2020-12-09 21:08] digitalsadhu opened #43 "New overlays are missing colour support and grid shows overtop when stretching"
**Severity**:
High (a broken feature, major functional impact)

**Describe the bug**
New overlays are missing colour support and grid shows overtop when stretching over multiple grid cells

**To Reproduce**
...cbf, can work this out

**Expected behavior**
New set of overlay objects should support colours and should not show grid through them when stretched over multiple squares

[2020-12-24 15:59] rougegoat opened #44 "Option to Adjust Size Scale of Cells"
**Is your feature request related to a problem? Please describe.**
Most maps use a scale of 5 feet per cell, but some will use 10, 20, or even 50 feet per cell.  Right now there's no clear way to handle what to do to keep things at the proper scale.  This can also cause issues with `!distance` providing inaccurate measurements of the encounter.

**Describe the solution you'd like**
An additional o

[2020-12-26 19:09] nerdsanddragons commented on #41
Need to update object overlay info with new available objects...

    "Ladder": "$la",
    "Crowd": "$ow",
    "Stairs": "$st",
    "Thorns": "$or",
    "Statue Star": "$ss",
    "Magic Portal": "$mp",
    "Lightning": "$li",
    "Person": "$pe",
    "Trap": "$tr",
    "Trip WIre": "$tw",
    "Gargoyle Statue": "$gs",
    "Spiked Pit": "$sp",
    "Column": "$co",
    "Open Pit": "$po",
    "Stone

[2021-01-04 10:34] mradwastaken opened #45 "Feature request: Show coordinate letters at the bottom and numbers at the right too."
**Is your feature request related to a problem? Please describe.**
The problem is that on big enough maps it's hard to understand exact coordinates of a square at the bottom and on the right.

**Describe the solution you'd like**
Show coordinate letters at the bottom and numbers at the right too.
Option 1: just ignore last square letter to get scale legend.
![image](https://user-images.githubuserc

[2021-01-15 17:50] storytellermahkasad opened #46 "Allow the Multi-assign to Handle Saved Token Names"
**Is your feature request related to a problem? Please describe.**
When using the mass editing format `-t <target>|[location]|[size]|[color]|[token]|[height]` it would be nice if the token value handled saved token names.

**Describe the solution you'd like**
The check for token would look at savedtokens first and then default to shortcode if no match was found.

**Describe alternatives you've con

[2021-01-21 22:58] tsluss opened #47 "Additional sizing options with door icons on walls."
As I've been learning to use the mapping tools, I've been using official campaign maps as backgrounds.  These maps scale at c42 or c44.  I've taken these official maps and Photoshoped out the S that they place in their walls to indicate a secret door and replace it with a simple line.  What I would like to do is to display an S on the wall if a character discovers the secret door. A broader exampl

[2021-01-28 20:16] Ydomat commented on #8
CLosing this as updates complete.

[2021-01-28 20:16] #8 closed, assigned to Ydomat

[2021-01-28 20:17] Ydomat commented on #35
addressed with https://github.com/otfbm/docs/commit/c449efd7c15c9cbcab519402dc41e2b225c3aec6

[2021-01-28 20:17] #35 closed, assigned to Ydomat

[2021-01-28 20:17] Ydomat commented on #41
addressed with https://github.com/otfbm/docs/commit/f57c13287733cd8c31a1df5ff92b2a817c210247

[2021-01-28 20:18] Ydomat commented on #41
closing complete.

[2021-01-28 20:18] #41 closed, assigned to Ydomat

[2021-01-28 20:22] Ydomat opened #48 "Add Underlays to Docs"
The Doc guys should really get on this...

https://otfbm.io/*c20rd5 (example as overlay)

https://otfbm.io/*uc20rd5 (example as underlay)

Should this be its own page or a note on the overlays page?

[2021-01-28 20:47] Ydomat commented on #48
addressed with https://github.com/otfbm/docs/commit/9a8f2da005306399699f29d6e1eb928f40e3802c Closing issue.

[2021-01-28 20:47] #48 closed, assigned to Ydomat

[2021-02-04 16:21] storytellermahkasad opened #49 "Toggleable Silent Mode for not showing images"
**Is your feature request related to a problem? Please describe.**
It would be great to have the option to make `-silent` toggleable flag for cases where you want to use distance and movement but don't want to use the images.

**Describe the solution you'd like**
`!map -silentmode <on|off|reset>` or some equivalent will assign a setting that can enforce the `-silent` tag without requiring it on ev

[2021-02-07 22:34] VeryGreatFrog opened #50 "Support for adding a line overlay on the line of a square, instead of always in the center"
**Is your feature request related to a problem? Please describe.**
I want to make wall segments that properly connect on corners. In the current way lines overlay is handled that it is impossible, because they don't go on the side of a square but in the middle

**Describe the solution you'd like**
A way to make it so you can put the start and end of a line segment between two specified coordinates

[2021-02-08 10:34] nerdsanddragons commented on #46
Feature Request has been added to map alias

[2021-02-08 10:34] #46 closed, assigned to Croebh, nerdsanddragons

[2021-02-08 10:35] nerdsanddragons commented on #31
This has been added

[2021-02-08 10:35] #31 closed, assigned to Croebh, nerdsanddragons

[2021-03-05 21:13] Adalbar3333 opened #51 "Rotations and Fixed Points"
**Rotation Arguments**
It would be nice to select a rotation for an object like a line to be rotated about a center.

**Solution**
Something like `!map -target Warship -over -rotation -length -width`
This would set the centerpoint to be the warship, then you could set the rotation to be in 360°.

**Describe alternatives you've considered**
I've been trying to mess with line specifically to create

[2021-05-19 16:16] RobbeA-1952396 opened #52 "Error Handling for blank Background"
**Is your feature request related to a problem? Please describe.**
People typoing `bg` instead of `-bg`, or not providing a link.

**Describe the solution you'd like**
`if typeof(bg) == "bool" or len(bg) == 0:`
Then simply don't update the background and give a little message.

**Describe alternatives you've considered**
Don't typo, duh

**Additional context**
/

[2022-02-05 22:30] Bjorgenas commented on #9
What about a simple color with transparency % for fog of war similar to overlays?  I tried on the otfbm site but it seem only white (default) and black are supported.  Blur and other filters would be awesome, but just getting a transparency color would be a good first step! :)

I know this might seem to defeat the whole point of FOW, but the goal is often to simply get info to the players about wh

[2022-02-06 22:31] Bjorgenas commented on #9
/@dh50/*fa1d4/*fd2h6/*fh3j10/10x10/?load=https://cdn.discordapp.com/attachments/740988703689801850/763079108636049459/DeathHousev3.json

![image](https://user-images.githubusercontent.com/2528663/152704264-af313494-c5c8-4b83-9fc2-11abbe643323.png)

[2022-05-17 12:59] vaguely-happy opened #53 "Map utilities such as !distance and !go failing after the release of Avrae 4.0"
**Severity**: High
Trivial (typos, etc) / Low (formatting issues, things that don't impact operation) / Medium (minor functional impact) / High (a broken feature, major functional impact) / Critical (bot crash, extremely major functional impact)

**Describe the bug**
Some of the map utilities not fail with a message Error evaluating expression: 'SafeDict' object has no attribute text when executed

[2022-07-23 05:23] csrobins03 opened #54 "Error exporting map with object"
**Severity**:
High (a broken feature, major functional impact)

**Describe the bug**
Attempting to export a map with objects fails because "'SafeList' object has no attribute split"

**To Reproduce**
Steps to reproduce the behavior:
1. Add an object to a map (e.g., !map -object d5:fire)
2. Type command '!map status export'
3. See error: "Error evaluating expression: 'SafeList' object has no attrib

[2022-08-12 14:24] benubu opened #55 "Allow "svar trueDistance false" to have a server override to always disallow trueDistance"
**Is your feature request related to a problem? Please describe.**
Right now, it seems trueDistance is either set to "true" or variable doesn't exist. It seems there's no way for server alias to override user alias if user alias is set to true.

**Describe the solution you'd like**
An option to set "svar trueDistance false", which will override a "uvar trueDistance true", forcing the entire server

[2022-10-15 03:00] WhisperGhost opened #56 "Map options subtraction error"
**Severity**:
 High (a broken feature)

**Describe the bug**
When using the (-) option when removing items from the options of the map it resets all options.

**To Reproduce**
Steps to reproduce the behavior:
1. add options to map: -options c70d
2. remove one option: -options -c70
3. map options reset

**Expected behavior**
only the option after (-) should me removed

**Screenshots**
![error 2](ht

[2022-10-15 10:07] digitalsadhu commented on #56
This sounds like something with the Alias rather than the underlying map service. Thoughts @Croebh @nerdsanddragons ?

[2022-10-15 19:46] Croebh commented on #56
Definitely an alias issue, I'll take a look

[2022-10-17 08:49] Croebh commented on #56
Should be fixed!

[2022-10-17 08:49] #56 closed, assigned to digitalsadhu, mjs1